# Python project exclusion standard
## Any virtual environment
.env/
.venv/

## IDE
.idea/
.vscode/

## Compiled files (keep files as cache for faster execution)
*.pyc
*.pyo
*.pyd
__pycache__/

# I/O exlcusions
images/
videos/